---
const { test } = Astro.props;
---

<a class="card-link" href={`/tests/${test.id}`} aria-labelledby={`title-${test.id}`}>
    <article class="app-card">
        <div class="card-media">
            <img src={test.icon} alt={test.name + " icon"} width="96" height="96" loading="lazy" />
        </div>

        <div class="card-body">
            <h3 id={`title-${test.id}`} class="card-title">{test.name}</h3>
            <p class="card-desc">{test.shortDescription}</p>

            {test.tags && test.tags.length ? (
                <ul class="card-tags" aria-hidden="false">
                    {test.tags.map((tag: string) => (
                        <li class="tag">{tag}</li>
                    ))}
                </ul>
            ) : null }
        </div>
    </article>
</a>